*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

@media (min-width: 768px) {
	.navbar {
		position: -webkit-sticky;
		position: sticky;
		top: 0;
		z-index: 1071;
	}
}

.hidden {
	display: none !important;
}

body {
	font-family: Roboto, sans-serif;
	color: #0f3c4b;
	background-color: #e5edf1;
}

.box {
	font-size: 1.25rem;
	background-color: #c8dadf;
	position: relative;
	min-height: 500px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 20px;
}

.box.has-advanced-upload {
	outline: 2px dashed #92b0b3;
	outline-offset: -10px;
	-webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
	transition: outline-offset .15s ease-in-out, background-color .15s linear;
	width: 100%;
	text-align: center;
}

.box.is-dragover {
	outline-offset: -20px;
	outline-color: #c8dadf;
	background-color: #fff;
}

.box.has-advanced-upload .box__dragndrop {
	display: inline;
}

.box.has-advanced-upload .box__icon {
	width: 100%;
	height: 80px;
	fill: #92b0b3;
	display: block;
	margin-bottom: 40px;
}

.box__file {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.box__file+label {
	max-width: 80%;
	text-overflow: ellipsis;
	white-space: nowrap;
	cursor: pointer;
	display: inline-block;
	overflow: hidden;
}

.box__file+label:hover strong,
.box__file:focus+label strong,
.box__file.has-focus+label strong {
	color: #39bfd3;
}

.box__file:focus+label,
.box__file.has-focus+label {
	outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 5px;
}

.box__button {
	font-weight: 700;
	color: #e5edf1;
	background-color: #39bfd3;
	display: block;
	padding: 8px 16px;
	margin: 5px auto 0;
	position: relative;
	width: 200px;
	height: 50px;
	border-radius: 8px;
	border: none;
	outline: none !important;
	font-size: 17px;
	text-transform: uppercase;
	cursor: pointer;
}

.box__button span {
	-webkit-transition: all .3s;
	transition: all .3s;
}

.box__button:hover,
.box__button:focus {
	background-color: #0f3c4b;
}

.reset__button {
	font-weight: 700;
	color: #e5edf1;
	background-color: #39bfd3;
	display: block;
	padding: 8px 16px;
	margin: 5px auto 0;
	position: relative;
	width: 200px;
	height: 50px;
	border-radius: 8px;
	border: none;
	outline: none !important;
	font-size: 17px;
	text-transform: uppercase;
	cursor: pointer;
}

.reset__button:hover,
.reset__button:focus {
	background-color: #0f3c4b;
}

/* loading */

.loadingSpinner {
	border: 4px solid #FFF;
	border-top-color: rgba(0, 0, 0, 0);
	border-left-color: rgba(0, 0, 0, 0);
	width: 20px;
	height: 20px;
	opacity: 0.8;
	border-radius: 50%;
	animation: loadingSpinner 0.7s infinite linear;
	-webkit-animation: loadingSpinner 0.7s infinite linear;
}

button .loadingSpinner {
	display: none;
	margin-top: -10px;
	margin-left: -14px;
	position: absolute;
	top: 50%;
	right: 40px;
}

.is-uploading button span {
	margin-left: -20px;
}

.is-uploading button .loadingSpinner {
	display: block;
}

@keyframes loadingSpinner {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

@-webkit-keyframes loadingSpinner {
	from {
		-webkit-transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(360deg);
	}
}

/* toast */

#snackbar {
	visibility: hidden;
	min-width: 250px;
	margin-left: -125px;
	background-color: #333;
	color: #fff;
	text-align: center;
	border-radius: 2px;
	padding: 16px;
	position: fixed;
	z-index: 1;
	left: 50%;
	bottom: 30px;
}

#snackbar.show {
	visibility: visible;
	-webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
	animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
	from {
		bottom: 0;
		opacity: 0;
	}
	to {
		bottom: 30px;
		opacity: 1;
	}
}

@keyframes fadein {
	from {
		bottom: 0;
		opacity: 0;
	}
	to {
		bottom: 30px;
		opacity: 1;
	}
}

@-webkit-keyframes fadeout {
	from {
		bottom: 30px;
		opacity: 1;
	}
	to {
		bottom: 0;
		opacity: 0;
	}
}

@keyframes fadeout {
	from {
		bottom: 30px;
		opacity: 1;
	}
	to {
		bottom: 0;
		opacity: 0;
	}
}